<template>
  <div class="home">
    <ProjectCard 
      v-for="project in getProjects" 
      :key="project.id"
      :project="project"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import ProjectCard from '@/components/ProjectCard';

export default {
  name: 'Home',
  components: {
    ProjectCard
  },
  computed: {
    getProjects() {
      return this.$store.state.projects
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../variables.scss';
  .home {    
    display: flex;
    flex-wrap: wrap;

    .project-card {
      margin: 10px;
    }
  }

  @media screen and (max-width: $view-md-max) {
    .home {
      .project-card {
        margin: 10px 0;
      }
    }
  }
</style>
