<template>

  <div v-if="project" class="project">
    <div class="container">
      <img :src="bgImage" alt />
      <div class="text">
        <h1>{{ project.name }}</h1>
        <p>{{ project.desc }}</p>
        <div>
        Technologies used:
        <span v-for="(tech,index) in project.techs" :key="index">{{ tech }}</span>
        </div>

        <a v-if="project.repo" :href="project.repo" target="_blank">Repository</a>
      </div>
    </div>
  </div>

</template>

<script>

export default {
  data () {
    return {
      project : null,
      projectId : null
    }
  },
  computed: {
    bgImage() {
      let image = require("../assets/images/" + this.project.img);
      return image;
    }
  },
  mounted () {
    this.render()
    console.log(this.project)
  },
  methods : {
    render() {
      this.projectId = this.$route.params.projectId
      this.project = this.$store.getters.getProjectById(this.projectId);
    }
  },
  watch : {
    $route() {
       this.render();
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../variables.scss";
.project {
  .container {
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: 1fr;
    grid-gap: 40px;

    img {
      width: 100%;
      height: auto;
      background-color: $img-bg-color;
    }

    .text {
      span {
        display: inline;
        &::after {
          content: ", ";
        }
        &:last-child::after {
          content: "";
        }
      }

      a {
        display: inline-block;
        margin-top: 20px;
        padding: 5px;
        background-color: $text-color;
        color: $bg-color;
        border-radius: 3px;
      }
    }
  }
}

@media screen and (max-width: $view-md-max) {
  .project {
    .container {
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
    }
    .text {
      padding: 0 15px;
    }
  }
}
</style>