<template>
<router-link 
    class="project-card"
    :to="{  name: 'Project', params: { projectId: this.project.id, project: this.project } }"
    >
    
    <div>
        <div class="container">
            <img :src="bgImage" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.desc }}</p>
                </div>
            </div>
        </div>      
    </div>
  </router-link>
</template>

<script>
export default {
    props: {
        project : Object
    },
    computed: {
        bgImage() {
            let image = require('../assets/images/' + this.project.img)
            return image;
            
        }
    }
}
</script>

<style scoped lang="scss">
@import '../variables.scss';

    .project-card {
        width: calc(50% - 20px);
        height: 370px;
        transition: height 0.3s ease;
        @media screen and (max-width: $view-xl-max){
            height: 300px;
        }
        @media screen and (max-width: $view-lg-max){
            height: 200px;
        }
        > div {
            height: 100%
        }

        .container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .image {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform .5s ease;
                background-color: $img-bg-color;
            }

            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: $bg-color;

                .text {
                    position: absolute;
                    top: 50%;
                    left: 50%;    
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                }

                
            }

            &:hover .overlay {
                opacity: 0.8;
            }

            &:hover .image {
                transition: transform .5s ease;
                transform: scale(1.3);
            }
        }
    }


</style>