<template>
  <div id="app" class="app">
    <div class="nav">
      <router-link to="/">Home</router-link>
      <router-link 
        v-for="project in getProjects" 
        :key="project.id"
        :to="{  name: 'Project', params: { projectId: project.id } }">{{project.name}}
      </router-link> 
      
    </div>
    <div class="main">
      <transition name="fade" mode="out-in">
        <router-view :key="$route.params.projectId" />
      </transition>
    </div>      
  </div>
</template>

<script>
export default {
   computed: {
    getProjects() {
      return this.$store.state.projects
    }
  }
}
</script>

<style lang="scss">
@import './variables.scss';

* { font-size: $p;}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $bg-color;
  h1 { 
    font-size: $h1; 
    margin: 0 0 10px 0;
    color: yellow;
    filter: drop-shadow(5px 5px 0 black) 
  }
  h2 { font-size: $h2; }
  h3 { font-size: $h3; }
  p { font-size: $p; } 
}

:any-link {
  color: $text-color;
  text-decoration: none;
  outline: none;
}

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
  align-items: stretch;
  
  .main {
    transition: padding 0.3s ease;
    padding: 10px 150px 20px 150px;
    display: flex;
    align-items: center;
    @media screen and (max-width: $view-xxl-max) {
      padding: 10px 40px 20px 40px;
    }
  }
  
}

.nav {
  padding: 30px;
  text-align: center;
  min-width: 220px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  a {
    transition: .2s ease;
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: yellow;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    box-shadow: 5px 5px 0 black;
    text-decoration: none;

    &.router-link-exact-active, &:hover {
      background-color: black;
      box-shadow: 5px 5px 0 yellow;
      color: yellow;
    }
  }
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: scale(.8)
}

.fade-enter-active, .fade-leave-active {
  transition: .15s ease;
}

@media screen and (max-width: $view-md-max) {
  .app {
    .main {
      padding: 0 !important;
    }
  }
}
</style>


