/* Color-Variables */
$text-color:    #f5f5f5;
$bg-color:      #222222;
$img-bg-color:  #dddddd;

/* Font-Size */
$h1:            35px;
$h2:            30px;
$h3:            25px;
$p:             14px;

/* Break-Points */
$view-xs: 0px;

$view-sm: 576px;
$view-sm-max: $view-sm - 1px;

$view-md: 768px;
$view-md-max: $view-md - 1px;

$view-lg: 992px;
$view-lg-max: $view-lg - 1px;

$view-xl: 1400px;
$view-xl-max: $view-xl - 1px;

$view-xxl: 1520px;
$view-xxl-max: $view-xxl - 1px;

$view-xxxl: 1800px;
$view-xxxl-max: $view-xxxl - 1px;